body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #13171c 0%, #1b2028 100%);
    text-shadow: #f5e05a 8px 8px 20px;
    color: #f5e05a;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px; /* controls spacing between all elements */
}

h1 {
    margin-top: 20px;
}

#ayah-container {
    display: flex;
    flex-direction: column;
    border: #f5e05a dashed 8px;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: min(500px, 80vw);
    min-height: 200px;
    padding: 20px;
}

#ayahtext-container {
    text-shadow: #f5e05a 8px 8px 20px;
}

#surah-ditail-container {
    text-shadow: #f5e05a 3px 3px 15px;
}

#language-container {
    margin-top: 5px;
}

#language-select {
    background: #f5e05a;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
}

#language-select:hover {
    background: #887912;
    color: #13171c;
}

#buttons-container {
    margin-top: 5px;
}

#buttons-container button {
    background: #f5e05a;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#buttons-container button:hover {
    background: #887912;
    color: #13171c;
}

.logo {
    margin-top: 10px;
    color: #f5e05a;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.logo:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #f5e05a;
}
